body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #121212;
  color: ivory;

}



@media only screen and (max-width: 767px) {

  .league-info{
    display: none;
  }
}
